*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.db
.svn/
*.swp
.nojekyll
.project
.settings/
node_modules/
data/
buildlog/
seajslib/node_modules/
seajslib/hioogo/dist/
photo/
public/photo/
_site/