<div class="row" id="row-setting">
	<div class="span3">
		<ul class="nav nav-list sidenav">
			<li class="active"><a href="#/setting/website">网站设置</a></li>
			<li><a href="#/setting/category">主题分类设置</a></li>
		</ul>
	</div>

	<div class="span9" id="setting">
		
	</div>
	
	<script type="text/html" id="tmpl-setting" class="hide">
		<form class="form-horizontal" id="setting-website">
			<legend>网站设置</legend>
			<div class="control-group">
				<label class="control-label">网站名称</label>
				<div class="controls">
					<input name="post[title]" value="<%=title%>" type="text" maxlength="20"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">关闭网站</label>
				<div class="controls">
					<input name="post[status]" value="<%=status%>" type="password">
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
				<button type="submit" class="btn"> 提 交 </button>
				</div>
			</div>
		</form>
		
		
		<form class="form-horizontal hide" id="setting-category">
			<legend>主题分类设置</legend>
			<ol>
				<% for (var i = 0; i < categorys.length; i++) { %>
				<li>
					<input name="post[]" value="<%=categorys[i]["name"] %>" type="text" maxlength="30"/>
				</li>
				<% } %>
			</ol>
			<div class="control-group">
				<div class="controls">
				<button type="submit" class="btn"> 提 交 </button>
				</div>
			</div>
		</form>
		<div class="alert alert-success hide" id="center-alert">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<div id="center-msg"></div>
		</div>
	</script>
</div>