/* before bootstrap.css */

body{padding-top:50px;min-height:600px;}
.list-title li{margin-top:10px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
textarea{resize:none;}
p{line-height:22px;}

#container{min-height:450px;}

/* loading */
#loading { text-align: center; padding: 170px 0; margin-top: 70px;}


/* player */
#player{position:fixed; top:0; left:0; right:0; width:100%; height:100%; z-index:1040;font-family:微软雅黑, microsoft yahei;}
#player-overlay{position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity: 0.8;filter:alpha(opacity=80);}
#player .photo {margin-top:10px; position:relative; height:624px; overflow:hidden; color:#FFF;background-repeat:no-repeat;}
#player-prev, #player-next{position: absolute; top:45%; width:31px; height:55px;filter:alpha(opacity=50);opacity:.5;background:url(../img/icon-player.png) no-repeat;cursor:pointer;}
#player-prev{left:5px; background-position:0 -180px;;}
#player-next{right:5px; background-position:-31px -180px;;}
#player-desc{position: absolute; width:auto; bottom:0; left:0; right:0; background-color:rgba(0, 0, 0, 0.5);margin-bottom:0px;color:#FFF;font-size:16px;padding:5px 10px;line-height:20px;cursor:default;z-index:10;}
#player-close{position: absolute; width:23px; height:23px; top:5px; right:5px;background:url(../img/icon-player.png) no-repeat 0 -150px;cursor:pointer;filter:alpha(opacity=70); opacity:.7;}
#player-prev:hover, #player-next:hover, #player-close:hover{filter:alpha(opacity=99); opacity:.99;}
#player-shooting-time{position: absolute; width:auto; height:20px; bottom:35px; left:auto; right:20px; color:red;cursor:default;z-index:10;padding:5px;font-size:16px;}

.photo-desc {font-size:16px;}
.photo-desc dt{width:60px;}
.photo-desc dd{margin-left:80px;}

/* photo edit dialog */
.photo-edit-desc{float:right;}
.photo-edit-desc textarea{width:270px; height:110px;}

.uploadlist img{padding:1px;}
.uploadlist .span2{overflow:hidden;max-height:284px;margin-top:30px; box-shadow:1px 5px 8px rgba(0, 0, 0, 0.5);border-radius:2px;}

.thumbnail{position:relative;}
.thumbnail .photo_edit{position:absolute; top:10px; right:10px; cursor:default;left:10px; right:auto;}
.thumbnail .photo{overflow:hidden;max-height:320px;}

/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer a {
  margin: 0 4px;
}